@font-face {
  font-family: "LemonTuesday";
  src: url("../../fonts/LemonTuesday.woff2") format("woff2"),
    url("../../fonts/LemonTuesday.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlabRegular";
  src: url("../../fonts/RobotoSlabRegular.woff2") format("woff2"),
    url("../../fonts/RobotoSlabRegular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../../fonts/OpenSansLight.woff2") format("woff2"),
    url("../../fonts/OpenSansLight.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("../../fonts/OpenSansItalic.woff2") format("woff2"),
    url("../../fonts/OpenSansItalic.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../../fonts/OpenSansRegular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../../fonts/OpenSansSemiBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../../fonts/OpenSansBold.woff2") format("woff2"),
    url("../../fonts/OpenSansBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
