$white-color: #ffffff;
$black-color: #000000;
$text-color: #000000;
$text-light-color: #999999;
$text-footer-color: #6b96a5;
$text-about-color: #4c4c4c;
$text-user-color: #5e81a7;
$section-title-color: #32505a;
$interactive-color: #808080;
$active-color: #84c604;
$main-color: #fd4f10;
$bg-color: #ffffff;
$bg-footer-color: #1a2d34;
$mobile-width: 778px;
$tablet-width: 780px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
